html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  color: #222;
  font-family: Georgia, serif;
}

/* OVERLAY */

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.18);
  backdrop-filter: blur(2px);
  z-index: 999;
}

/* MENU BUTTON */

.menu-button {
  position: fixed;
  top: 28px;
  left: 28px;
  z-index: 1001;
  cursor: pointer;
}

.menu-button span {
  display: block;
  width: 22px;
  height: 2px;
  background: #222;
  margin: 5px 0;
}

/* SIDEBAR */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #ece7df;
    /*#f4efe8;*/
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 100px;
  box-shadow: 2px 0 20px rgba(0,0,0,0.08);
}

.sidebar a {
  display: block;
  padding: 18px 28px;
  text-decoration: none;
  color: #222;
  font-size: 1.1rem;
  text-align: left;
  transition: 0.2s;
}

.sidebar a:hover {
  opacity: 0.5;
}

.closebtn {
  position: absolute;
  top: 18px;
  right: 28px;
  font-size: 2rem;
}

/* HERO */

.hero {
  height: 100vh;

  background-image: /*linear-gradient(
    rgba(255,255,255,0.15),
    rgba(255,255,255,0.15)
  ),*/
  url("images/PXL_20260501_145922232.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  padding-left: 10%;
}

.hero-text-below {
  padding: 80px 10%; /* max-width: 500px*/
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: normal;
  /*letter-spacing: 3px;
  margin-bottom: 20px;*/
}

.hero p {
  font-size: 1.1rem;
  line-height: 1.8;
}

/* CONTENT */

.content-section {
  padding: 120px 12%;
  max-width: 850px;
}

.content-section h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 30px;
}

.content-section p {
  line-height: 1.9;
  font-size: 1.05rem;
}

/* GALLERY */

.gallery-section {
  padding: 120px 8%;
}

.gallery-section h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 50px;
}

.gallery-choice-grid {

  display: flex;

  justify-content: center;

  align-items: center;

  gap: 20px;
  /*padding-left: 40px;*/
  flex-wrap: nowrap;

}

.gallery-grid img {
  width: 100%;
  display: block;
  transition: 0.35s;
}

.gallery-grid img:hover {
  transform: scale(1.01);
  opacity: 0.94;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 80px 20px;
  color: #777;
  font-size: 0.95rem;
}

/* MOBILE */

@media (max-width: 700px) {

  .hero {
    padding: 0 8%;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .content-section,
  .gallery-section {
    padding: 90px 8%;
  }
}  
/* GALLERY LABELS */

.gallery-subtitle {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 40px 0 20px;
  text-align: left;
}

.gallery-subtitle.sold {
  margin-top: 80px;
  opacity: 0.6;
}

/* OPTIONAL: SOLD VISUAL STYLE */
.sold-grid img {
  filter: grayscale(10%);
}
 /* GALLERY CATEGORY PAGE */

.gallery-choice-section {
  padding: 120px 8%;
}

.gallery-choice-section h2 {
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 60px;
  text-align: left;
  margin-left: 90px; /*-----------
}

/*.gallery-choice-grid {--------------------------
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding-left: 40px;
  align-items: start;
}*/

.gallery-folder {
  text-decoration: none;
  color: #222;
  transition: 0.35s;
}

.gallery-folder img {

  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;

  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* SOLD IMAGE */

.gallery-folder.sold {
  width: 320px;
}

/* UNSOLD IMAGE */

.gallery-folder.unsold {
  width: 640px;
}  

.gallery-folder:hover {
  transform: translateY(-6px);
  opacity: 0.96;
}

 
}
